*{
    margin:0;
    padding:0;
}
.h1{
    margin: 2% 16%;
    display: flex;
    justify-content: center;
    background-color: rgba(5, 23, 71, 0.678);
    border: none;
    border-radius:50px;
    font-size: 40px;
    color:rgb(253, 253, 253);
}
.p1{
    background-color:aqua;
    margin:0% 10%;
    padding: 2%;
    font-style:italic;
}
.img{
    margin:2% 10%;
    width:80%;
    border:2px solid black;
}
.imgt{
    background-color: rgb(22, 21, 21);
    position: absolute;
    color:rgb(255, 174, 0);
    top:50%;
    left:15%;
    font-size:40px;
    padding:1%;
    border-radius:18px;
}